<h3>{{#str}} pluginname, local_myhobbies {{/str}}</h3>
{{#hashobbies}}
    <table class="generaltable">
        <thead>
        <tr>
            <th class="col-sm-3">{{#str}} heading_hobbies_title, local_myhobbies {{/str}}</th>
            <th class="col-sm-7">{{#str}} heading_hobbies_description, local_myhobbies {{/str}}</th>
            <th class="col-sm-2"></th>
        </tr>
        </thead>
        <tbody>
        {{#hobbies}}
            <tr>
                <td>{{title}}</td>
                <td>{{{description}}}</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-action="edit" onclick="window.location.href='edit.php?id={{id}}'">
                        {{#str}} edit {{/str}}
                    </button>
                    <button type="button" class="btn btn-secondary" data-action="delete" onclick="window.location.href='index.php?delete={{id}}'">
                        {{#str}} delete {{/str}}
                    </button>
                </td>
            </tr>
        {{/hobbies}}
        </tbody>
    </table>
{{/hashobbies}}
{{^hashobbies}}
    <p>{{#str}} no_hobbies, local_myhobbies {{/str}}</p>
{{/hashobbies}}
<button type="button" class="btn btn-secondary" data-action="add" onclick="window.location.href='edit.php'">
    {{#str}} add_hobby, local_myhobbies {{/str}}
</button>